<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../estilos/correo.css">
</head>
<body class="body">
    <div class="login-wrapper">
        
            <div class="my-form__wrapper">
                <div class="login-welcome-row">
                    <h1>Cambiar contraseña </h1><br>
                    <p>Su contraseña debe de ser diferente a la anterior</p>
                    
                </div>
                <form action="CambioContr.php" method="POST" class="my-form">
                    
                   
                    <div class="text-field">
                        <label for="contrseña_actual">Contraseña actual: </label>
                        <input
                            type="password"
                            id="contrasena_actual"
                            name="contrasena_actual"
                            placeholder="Actual"
                            required
                        >
                        <img src="../Imagenes/ver.png" alt="">
                    </div>
                    <div class="text-field">
                        <label for="contrseña_nueva">Nueva contraseña</label>
                        <input
                            type="password"
                            id="contraseña_nueva"
                            name="contraseña_nueva"
                            placeholder="Nueva"
                            required
                        >
                        <img src="../Imagenes/ver.png" alt="">
                    </div>
                    
                    <input type="submit" class="my-form__button" value="Cambiar contraseña">
                    
                </form>
                <div id="confirmationMessage" class="hidden">
                    ¡Contraseña actualizada con éxito!
                </div>
            </div>
        </div>
       
    </div>
    <script src="mensaje.js"></script>
</body>
</html>