<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../estilos/error.css">
    <script>
        function redireccionar(){
            window.location.href = "../IngresarCorreo/Correo.html"
        }
    </script>
</head>
<body class="body">
   
    <div class="container">
        <div class="imagen">
            <img src="../Imagenes/Error1.png" alt="">
        </div>
        <div>
            <h1>Hubo un error al obtener la contraseña actual. Por favor verifique que la contraseña ingresada sea la correcta</h1>
        </div>
        <div>
            <button onclick="redireccionar()">VOLVER ATRAS</button>
        </div>
    </div>
        
</body>
</html>