<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../estilos/codigo.css">
</head>
<body class="body">

            <div class="login-side">
               
                <div class="my-form__wrapper">
                    <div class="login-welcome-row">
                        <h1>¿Quieres cambiar la Contraseña? </h1>
                        <p>Ingrese el codigo enviado</p>
                        
                    </div>
                    <form action="codigo.php" method="POST" class="my-form">
                        
                        <div class="text-field">
                           
                            <input
                                type="text"
                                id="numero1"
                                name="numero1"
                                maxlength="1"
                                required
                            >
                             <input
                                type="text"
                                id="numero2"
                                name="numero2"
                                maxlength="1"
                                required
                            >
                             <input
                             type="text"
                             id="numero3"
                             name="numero3"
                            maxlength="1"
                             required
                            >
                              <input
                             type="text"
                             id="numero4"
                             name="numero4"
                            maxlength="1"
                             required
                             >
                            
                        </div>
                        
                        <input type="submit" class="my-form__button" value="Enviar">
                        <div class="my-form__actions">
                            <div class="my-form__row">
                                <span>¿Recibiste el código? </span><br><br>
                                <a href="../IngresarCorreo/Correo.html" title="Reset Password">
                                    Verificar
                                </a>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            
       
</body>
</html>